extends layout
block head
  link(rel='stylesheet', href='/assets/style.css')
  link(rel="stylesheet", href="/assets/vendor.css")
  //- link(rel='shortcut icon' href='./images/icon.png' type='image/png')
block content
  - var type = true
  - var classType = ""
  - var urlforscripts = "/"
  include header
  section.ofer.wrap
    .ofer__text
      .ofer__text-title 
        p Новая эфффективная методика изучения Английского языка
      .ofer__text-main
        p Запишись на  бесплатный урок прямо сейчас и получи бесплатную консультацию от наших носителей.
      .ofer__btn.btn.btn_babl.btn-entry(data-url=urlforscripts)
        p Записаться
    .ofer__logo
      img(src="/images/offer_img.png", alt="")
  

block footer
    script(src="/assets/vendor.js")
    script(src="/assets/app.js")