section.showTest.wrap
    .showTest__header 
        p Все тесты
    .tests
        .test-card
            p.test-card__header Все тесты
            p.test-card__description Ключевые особенности структуры проекта могут быть превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
            .test-card__row
                .test-card__btn
                    img(src="/images/Group 64.png", alt="")

        .test-card
            p.test-card__header Пройденные тесты
            p.test-card__description Ключевые особенности структуры проекта могут быть превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
            .test-card__row
                .test-card__btn
                    img(src="/images/Group 64.png", alt="")

        .test-card
            p.test-card__header Пройденные тесты
            p.test-card__description Ключевые особенности структуры проекта могут быть превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
            .test-card__row
                .test-card__btn
                    img(src="/images/Group 64.png", alt="")

        .test-card
            p.test-card__header Пройденные тесты
            p.test-card__description Ключевые особенности структуры проекта могут быть превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
            .test-card__row
                .test-card__btn
                    img(src="/images/Group 64.png", alt="")