.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1920px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-4 {
  margin-top: 32px;
}

.mt-5 {
  margin-top: 40px;
}

.mt-6 {
  margin-top: 48px;
}

.mt-7 {
  margin-top: 56px;
}

.mt-8 {
  margin-top: 64px;
}

.mt-9 {
  margin-top: 72px;
}

.mt-10 {
  margin-top: 80px;
}

.mt-11 {
  margin-top: 88px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 48px;
}

.mb-7 {
  margin-bottom: 56px;
}

.mb-8 {
  margin-bottom: 64px;
}

.mb-9 {
  margin-bottom: 72px;
}

.mb-10 {
  margin-bottom: 80px;
}

.mb-11 {
  margin-bottom: 88px;
}

.mb-15 {
  margin-bottom: 120px;
}

.mb-20 {
  margin-bottom: 160px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 24px;
}

.ml-4 {
  margin-left: 32px;
}

.ml-5 {
  margin-left: 40px;
}

.ml-6 {
  margin-left: 48px;
}

.ml-7 {
  margin-left: 56px;
}

.ml-8 {
  margin-left: 64px;
}

.ml-9 {
  margin-left: 72px;
}

.ml-10 {
  margin-left: 80px;
}

.ml-11 {
  margin-left: 88px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 24px;
}

.mr-4 {
  margin-right: 32px;
}

.mr-5 {
  margin-right: 40px;
}

.mr-6 {
  margin-right: 48px;
}

.mr-7 {
  margin-right: 56px;
}

.mr-8 {
  margin-right: 64px;
}

.mr-9 {
  margin-right: 72px;
}

.mr-10 {
  margin-right: 80px;
}

.mr-11 {
  margin-right: 88px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 24px;
}

.pt-4 {
  padding-top: 32px;
}

.pt-5 {
  padding-top: 40px;
}

.pt-6 {
  padding-top: 48px;
}

.pt-7 {
  padding-top: 56px;
}

.pt-8 {
  padding-top: 64px;
}

.pt-9 {
  padding-top: 72px;
}

.pt-10 {
  padding-top: 80px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-11 {
  padding-top: 88px;
}

.pt-12 {
  padding-top: 96px;
}

.pt-20 {
  padding-top: 160px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 24px;
}

.pb-4 {
  padding-bottom: 32px;
}

.pb-5 {
  padding-bottom: 40px;
}

.pb-6 {
  padding-bottom: 48px;
}

.pb-7 {
  padding-bottom: 56px;
}

.pb-8 {
  padding-bottom: 64px;
}

.pb-9 {
  padding-bottom: 72px;
}

.pb-10 {
  padding-bottom: 80px;
}

.pb-11 {
  padding-bottom: 88px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 24px;
}

.pl-4 {
  padding-left: 32px;
}

.pl-5 {
  padding-left: 40px;
}

.pl-6 {
  padding-left: 48px;
}

.pl-7 {
  padding-left: 56px;
}

.pl-8 {
  padding-left: 64px;
}

.pl-9 {
  padding-left: 72px;
}

.pl-10 {
  padding-left: 80px;
}

.pl-11 {
  padding-left: 88px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 24px;
}

.pr-4 {
  padding-right: 32px;
}

.pr-5 {
  padding-right: 40px;
}

.pr-6 {
  padding-right: 48px;
}

.pr-7 {
  padding-right: 56px;
}

.pr-8 {
  padding-right: 64px;
}

.pr-9 {
  padding-right: 72px;
}

.pr-10 {
  padding-right: 80px;
}

.pr-11 {
  padding-right: 88px;
}

@font-face {
  font-family: "Rubik";
  src: url(./styles/Rubik-Regular.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url(./styles/Roboto-Medium.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto-tin";
  src: url(./styles/Roboto-Thin.woff) format("woff");
  font-weight: 500;
}
.header {
  width: 100%;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 152px;
  width: 80%;
  margin: 0 auto;
  padding: 0 10%;
}
.header__wrap_light {
  background: #E5E5E5;
  color: #333;
}
.header__wrap_darck {
  background: #114455;
  color: #fff;
}
.header__logo {
  cursor: pointer;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  max-width: 610px;
  width: 100%;
  font-size: 24px;
  line-height: 28px;
  flex-wrap: wrap;
  margin: 0px 80px;
}
.header__nav-item {
  cursor: pointer;
}

.ofer {
  margin: 160px auto;
  display: flex;
  justify-content: space-between;
}
.ofer__text-title {
  max-width: 630px;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
  margin-bottom: 40px;
}
.ofer__text-main {
  max-width: 367px;
  font-size: 20px;
  line-height: 31px;
  color: #114455;
}
.ofer__btn {
  max-width: 230px;
  margin-top: 40px;
}

.btn {
  background: #114455;
  font-size: 20px;
  line-height: 31px;
  color: #FFFFFF;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn_babl {
  border-radius: 50px;
}
.btn_strong {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
}

.advantages {
  background: #F6FAFD;
  height: 220px;
  width: 100%;
  display: flex;
  align-items: center;
}
.advantages__bar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.advantages__bar-item {
  height: 71px;
  width: 190px;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(17, 68, 85, 0.5);
  padding-right: 75px;
}
.advantages__bar-item_bg {
  height: 71px;
  width: 71px;
  position: absolute;
}
.advantages__bar-item:last-child {
  border-right: none;
}
.advantages__bar-item:nth-child(3) {
  padding-right: 140px;
}
.advantages__bar-item-text {
  max-width: 244px;
  font-size: 22px;
  line-height: 26px;
  color: #114455;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0 0 32px;
}

.tests {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 160px;
}

.test-card {
  max-width: 550px;
  width: 100%;
  min-height: 320px;
  border-radius: 40px;
  padding: 56px 0 0 56px;
  background: #E3EDEE;
  color: #114455;
  font-family: "Roboto";
  margin: 64px 50px 0 0;
}
@media (max-width: 1280px) {
  .test-card {
    max-width: none;
  }
}
.test-card:first-child {
  background: #114455;
  color: #FFF;
}
.test-card__header {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}
.test-card__description {
  font-weight: 300;
  font-size: 16px;
  max-width: 500px;
  margin-top: 32px;
  line-height: 28px;
  font-family: "Roboto-tin";
}
.test-card__row {
  display: flex;
  justify-content: flex-end;
}
.test-card__btn {
  display: block;
  width: 48px;
  height: 48px;
  background: #C4C4C4;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin: 64px 32px 0 0;
}

.popup-fade {
  display: none;
}

.popup-fade_control {
  display: none;
}

.popup-fade:before {
  content: "";
  background: rgba(17, 68, 85, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.popup-fade_control {
  content: "";
  background: rgba(0, 0, 0, 0.27);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.popup-close {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 25px;
  right: 39px;
}

.popup-autorez__content {
  max-width: 792px;
  height: 390px;
  background: #FFFFFF;
  z-index: 3;
  box-shadow: 0px 8px 15px rgba(219, 216, 216, 0.25);
  border-radius: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.3s;
}
.popup-autorez__header {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
.popup-autorez__fields {
  width: 90%;
  margin: 24px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popup-autorez__fields_authorization {
  display: none;
  margin: 24px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup-autorez__input {
  opacity: 0.2;
  border: 1px solid #2A2A30;
  box-sizing: border-box;
  border-radius: 4px;
  height: 52px;
  width: 350px;
  margin-top: 12px;
  padding: 0 0 0 23px;
}
.popup-autorez__input:first-child {
  flex-grow: 2;
  width: 100%;
}
.popup-autorez__input_authorization {
  opacity: 0.2;
  border: 1px solid #2A2A30;
  box-sizing: border-box;
  border-radius: 4px;
  height: 52px;
  margin-top: 12px;
  padding: 0 0 0 23px;
  width: 90%;
}
.popup-autorez__btn {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  transition: 0.3s;
}

.showTest__header {
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  margin-top: 116px;
}

.private-office__title {
  margin-top: 152px;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  color: #000000;
}
.private-office__content {
  background: linear-gradient(105.04deg, #E3EDEE 0.55%, #CEF1F3 96.6%);
  border-radius: 40px;
  padding: 112px 40px 40px 80px;
  margin: 64px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .private-office__content {
    flex-direction: column;
  }
}
.private-office__person {
  display: flex;
  max-width: 430px;
  width: 100%;
  justify-content: space-between;
}
.private-office__person-info {
  margin-right: 48px;
}
.private-office__person-img {
  max-width: 88px;
  width: 100%;
  height: 110px;
  display: block;
}
.private-office__person-FIO {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: #333333;
}
.private-office__person-text {
  font-size: 16px;
  line-height: 19px;
  color: #114455;
  display: flex;
}
.private-office__icon {
  max-width: 16px;
  margin-right: 8px;
}
.private-office__test-open {
  margin-top: 144px;
}
.private-office__test-open-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}
.private-office__test-open-wrap {
  display: flex;
}
.private-office__test-open-wrap_control {
  flex-direction: column;
}
.private-office__test-list {
  max-width: calc(100% - 490px);
  width: 100%;
  background: #D3E3FB;
  border-radius: 40px;
  padding: 32px 28px 56px;
}
@media (max-width: 1280px) {
  .private-office__test-list {
    max-width: none;
    width: 90%;
    margin-top: 40px;
  }
}
.private-office__test-list-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}
.private-office__test-list-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.test-card-person {
  background: #FAFAFA;
  border-radius: 20px;
  padding: 24px 32px;
  max-width: 210px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.test-card-person_control {
  max-width: none;
  width: 90%;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 24px;
}
.test-card-person__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-align: center;
}
.test-card-person__btn {
  max-width: 48px;
  margin: 24px auto 0;
}
.test-card-person__raitng {
  text-align: center;
  margin-top: 12px;
}

.test-card-person-complite {
  background: #FAFAFA;
  border-radius: 20px;
  padding: 24px 32px;
  max-width: 360px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .test-card-person-complite {
    max-width: none;
  }
}
.test-card-person-complite__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-align: center;
}
.test-card-person-complite__FIO {
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  margin-top: 24px;
}
.test-card-person-complite__img {
  width: 22px;
  height: 22px;
  float: right;
  margin-bottom: 20px;
  cursor: pointer;
}
.test-card-person-complite__img_control {
  margin-bottom: 0;
}
.test-card-person-complite__status {
  font-size: 12px;
}

.popup-controll__content {
  max-width: calc(1150px - 10%);
  background: #FFFFFF;
  z-index: 3;
  box-shadow: 0px 8px 15px rgba(219, 216, 216, 0.25);
  border-radius: 18px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 120px auto;
  transition: 0.3s;
  padding: 32px 96px 64px;
}
.popup-controll__header {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.popup-controll__inputs-row {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.popup-controll__img {
  width: 36px;
  height: 36px;
}
.popup-controll__input {
  opacity: 0.9;
  border: 1px solid #2a2a301c;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 24px;
  height: 52px;
  max-width: 400px;
  width: 100%;
}
.popup-controll__btn-wrap {
  display: flex;
}
.popup-controll__btn {
  max-width: 174px;
  margin-top: 48px;
  margin-right: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
}

body {
  background: #E5E5E5;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #373737;
}

/*# sourceMappingURL=style.css.map*/