@font-face{
    font-family: "Rubik";
    src: url("./Rubik-Regular.woff") format("woff");
    font-weight: 500;
}

@font-face{
    font-family: "Roboto";
    src: url("./Roboto-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face{
    font-family: "Roboto-tin";
    src: url("./Roboto-Thin.woff") format("woff");
    font-weight: 500;
}