.popup-fade {
    display: none;
}
.popup-fade_control{
    display: none;
}
.popup-fade_delite{
    display: none;
}
.popup-fade_tests{
    display: none;
}
.popup-fade:before {
    content: '';
    background: rgba(17, 68, 85, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.popup-fade_control,.popup-fade_delite,.popup-fade_tests {
    // content: '';
    // background: rgba(0, 0, 0, 0.27);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.popup-close{
    cursor: pointer;
    display: block;
    position: absolute;
    top: 25px;
    right: 39px;
}
